[submodule "openshot-qt"]
	path = openshot-qt
	url = https://github.com/winnerineast/openshot-qt.git
[submodule "libopenshot"]
	path = libopenshot
	url = https://github.com/winnerineast/libopenshot.git
[submodule "libopenshot-audio"]
	path = libopenshot-audio
	url = https://github.com/winnerineast/libopenshot-audio.git
