/* Base styles for nodes */
.node {
    stroke: #6e6e6e; 
    stroke-width: 1.5px;
    transition: fill 0.3s ease;
}

.node text 
{ 
    font: 12px sans-serif; 
}


/* Node styles */

/* Laws */
.node.law {
    fill: #4A90E2; /* Bright blue */
}

/* Prior Case */
.node.prior_case {
    fill: #8A3FFC; /* Bright purple */
    /* move to top-left by 8 px */
    transform: translate(-8px, -8px);
}

/* Facts */
.node.background_fact {
    fill: #50E3C2; /* Mint green */
}

.node.material_fact {
    fill: #F5A623; /* Bright orange */
}

.node.disputed_fact {
    fill: #D0021B; /* Bright red */
}

/* Decisions */
.node.ruling {
    fill: #7ED321; /* Bright lime green */
}

.node.final_judgment {
    fill: #F8E71C; /* Bright yellow */
}

/* Hover effect */
.node:hover {
    filter: brightness(150%);
    cursor: pointer;
    transition: filter 0.3s ease;
}